.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: black;
  color: white;
}

.headline {
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  top: 150px;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.player {
  margin: 25px;
  width: 400px;
  height: 162px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.name {
  font-size: 75px;
  font-weight: bolder;
}

.options-container {
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Limit height for better readability */
  overflow: hidden; /* Hide overflowing options */
  position: relative; /* To position internal elements absolutely */
}

.options {
  display: flex;
  flex-direction: column; /* Stack options vertically */
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.option {
  font-size: 20px;
  line-height: 50px; /* Match the height of the viewport for smooth transitions */
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.option[ngStyle*="bold"] {
  opacity: 1;
}

#controls {
  position: absolute;
  bottom: 10px;
}
