<div class="background" [ngStyle]="{'background': bgc}">
    <div id="question" [ngClass]="monospaceQuestion ? 'numbers' : ''">{{ currentQuestion.question }}</div>
    <app-timer id="timer"
               [size]="225"
               [showTime]="true"
               [makeSound]="timerSound"
               [duration]="maxTime"
               (timerExpired)="onTimeExpired()"
    ></app-timer>
    <div class="answer-container" id="answer-container">
        <div class="answer" id="answer"><span>{{ currentQuestion.answers[0].answer }}</span></div>
    </div>
    <app-scoreboard id="scoreboard" class="scoreboard"></app-scoreboard>
</div>
