<div class="background" [ngStyle]="{'background': bgc}">
    <app-canvas-mirror id="canvas"></app-canvas-mirror>
    <app-progressbar id="progress-bar"
                     [fontsize]="'75px'"
                     [percent]="progressBar.percent"
                     [text]="progressBar.text"
                     [numberClass]="true"
    ></app-progressbar>
    <div class="options-container" id="options-container">
        <div class="option" id="blue"><span>{{ displayObject.options[0] }}</span></div>
        <div class="option" id="orange"><span>{{ displayObject.options[1] }}</span></div>
        <div class="option" id="green"><span>{{ displayObject.options[2] }}</span></div>
        <div class="option" id="yellow"><span>{{ displayObject.options[3] }}</span></div>
    </div>
    <div class="options-container">
        <div class="option" id="answer"><span>{{ displayObject.answer }}</span></div>
    </div>
    <app-scoreboard id="scoreboard" class="scoreboard"></app-scoreboard>
</div>
