.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    perspective: 1000px;
}

#progress-bar {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 10vh;
    width: 30vw;
}

/*#question {
    border: 10px solid black;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(17, 35, 108) 0%, rgba(18,58,122,1) 100%);
    text-shadow: 1px 1px 2px #000, 2px 2px 4px #000, 3px 3px 6px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45vh;
    width: 65vw;
    top: 20px;
    left: 20px;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 25px;
    white-space: pre-wrap;
    opacity: 0;
}*/

#canvas {
    /*box-shadow: 1px 1px 2px #000, 2px 2px 4px #000, 3px 3px 6px #000;*/
    position: absolute;
    left: 20px;
    /*bottom: 20px;*/
    opacity: 0;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 20px;
    height: 50vh;
    width: 67vw;
    text-shadow: 1px 1px 2px #000, 2px 2px 4px #000, 3px 3px 6px #000;
    perspective: 1000px;
}

.option {
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 10vh;
    border-radius: 500px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    opacity: 0;
    border-color: #2CADFA;
    background: #2CADFA88;
}

#answer {
    position: absolute;
    bottom: -120px;
}