<div class="background" [ngStyle]="{'background': bgc}">
    <app-canvas-mirror id="canvas"></app-canvas-mirror>

    <div id="question" class="numbers">{{ currentQuestion.question }}</div>
    <app-timer id="timer"
               [size]="225"
               [makeSound]="false"
               [duration]="maxTime"
               [showTime]="true"
               (timerExpired)="onTimeExpired()"
    ></app-timer>
    <div class="answer-container" id="answer-container">
        <div class="answer" id="answer"><span>{{ currentQuestion.answers[0].answer }}</span></div>
    </div>
    <app-scoreboard id="scoreboard" class="scoreboard"></app-scoreboard>
</div>
