<div class="background" [ngStyle]="{'background': bgc}">
    <span class="headline" #headline>{{ displayHeadline }}</span>
    @if (round.category) {
        <div class="options-container">
            <div class="option" id="blue"><span>{{ categories[0].name }}</span></div>
            <div class="option" id="orange"><span>{{ categories[1].name }}</span></div>
            <div class="option" id="green"><span>{{ categories[2].name }}</span></div>
            <div class="option" id="yellow"><span>{{ categories[3].name }}</span></div>
        </div>
    }
</div>
