<div class="background" [ngStyle]="{'background': bgc}">
    <app-timer id="timer"
               [size]="225"
               [makeSound]="false"
               [duration]="60"
               (timerExpired)="onTimeExpired()"
    ></app-timer>
    <app-scoreboard id="scoreboard" class="scoreboard"></app-scoreboard>
    <div id="track-list">
        @for (track of trackList; track track.track.id + '-' + track.track.highlightFrom) {
            <div class="track" id="track-{{track.track.id}}">
                <div><span class="track-title">{{ track.track.information.title }}</span> - <span class="track-interpret">{{ track.track.information.interpret }}</span></div>
                <span class="track-year">{{ track.track.information.releaseYear }}</span>
            </div>
        }
        @for (marker of markers; track marker.controller) {
            <svg class="marker" id="marker-{{marker.controller}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" [attr.fill]="marker.color">
                <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
            </svg>
        }
    </div>
</div>
