<div class="background" [ngStyle]="{'background': bgc}">
    <div id="question">{{currentQuestion.question}}</div>
    <app-timer id="timer"
               [size]="225"
               [duration]="20"
               [makeSound]="true"
               [showTime]="false"
               (timerExpired)="onTimeExpired()"
    ></app-timer>
    <div class="options-container" id="options-container">
        <div class="option" id="blue"><span>{{ currentQuestion.answers[0].answer }}</span></div>
        <div class="option" id="orange"><span>{{ currentQuestion.answers[1].answer }}</span></div>
        <div class="option" id="green"><span>{{ currentQuestion.answers[2].answer }}</span></div>
        <div class="option" id="yellow"><span>{{ currentQuestion.answers[3].answer }}</span></div>
    </div>
    <app-scoreboard [final]="true" id="scoreboard" class="scoreboard"></app-scoreboard>
</div>

